{
  "extends": "eslint-config-chefsplate",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": { "React": true },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["^[~]", "^[@]", "^[&]", "^[$]"] }],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "react/prefer-stateless-function": 0,
  }
}
